body {
  display: flex;
  justify-content: center;
  background-color: rgb(100, 100, 100);
}

.calculator-container {
  display: block;
  width: 229px;
  height: 360px;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
}

.result {
  font-size: 20px;
  font-family: Roboto;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.calculator-buttons-container {
  padding: 10px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3px;
  column-gap: 3px;
}

.button {
  font-family: Roboto;
  padding: 0;
  height: 50px;
  width: 50px;
  color: white;
  background-color: rgb(90, 90, 90);
  border-radius: 5px;
  border-style: none;
  align-items: center;
}

.button:hover {
  opacity: 0.8;
  transition: opacity 0.2;
  cursor: pointer;
}

.button:active {
  opacity: 0.65;
  transition: opacity 0.2;
}

.delete-icon {
  height: 20px;
  filter: invert();
}

#button-equal {
  background-color: rgb(200, 200, 0);
  color: black;
}